# Node modules
node_modules/

# Build output
dist/
out/
.next/
build/

# Logs
logs
*.log
npm-debug.log*

# dotenv environment files
.env

# OS junk files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Uploaded files
uploads/

# Cache
.cache/
*.cache

# Misc
*.swp